@use "sass:map";

$gh-raw-domain: 'raw.githubusercontent.com';
$git-repo: 'MaximumADHD/Roblox-Client-Tracker';
$git-ref: 'heads/roblox';
$main-source: 'https://#{$gh-raw-domain}/#{$git-repo}/#{$git-ref}/LuaPackages/Packages/_Index/BuilderIcons/BuilderIcons/Font';

$preset-sizes: (
    (
        'roblox-variable': '--icon-size-xsmall',
        'fallback': 12px,
        'aliases': (
            'xsmall',
            'x-small',
            'xs',
        ),
    ),
    (
        'roblox-variable': '--icon-size-small',
        'fallback': 16px,
        'aliases': (
            'small',
            's',
        ),
    ),
    (
        'roblox-variable': '--icon-size-medium',
        'fallback': 20px,
        'aliases': (
            'medium',
            'med',
            'm',
        ),
    ),
    (
        'roblox-variable': '--icon-size-large',
        'fallback': 24px,
        'aliases': (
            'large',
            'l',
        ),
    ),
    (
        'roblox-variable': '--icon-size-xlarge',
        'fallback': 28px,
        'aliases': (
            'xl',
            'x-large',
            'xlarge',
        ),
    ),
    (
        'roblox-variable': '--icon-size-xxlarge',
        'fallback': 32px,
        'aliases': (
            'xxl',
            'xxlarge',
            'xx-large',
        ),
    ),
);

@font-face {
  font-family: 'BuilderIcons-Regular';
  src:
    local("BuilderIcons-Regular"),
    url('#{$main-source}/BuilderIcons-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'BuilderIcons-Filled';
  src:
    local("BuilderIcons-Filled"),
    url('#{$main-source}/BuilderIcons-Filled.ttf') format('truetype');
  font-display: swap;
}

icon {

    --icon-size: 1em;

    font-size: var(--icon-size);
    height: var(--icon-size);
    width: var(--icon-size);

    display: inline-block;
    line-height: 1;
    font-style: normal;
    user-select: none;

    font-family: 'BuilderIcons-Regular' !important;

    &[filled], &[fill] {
        font-family: 'BuilderIcons-Filled' !important;
    }

    @each $preset in $preset-sizes {
        $variable: map.get($preset, 'roblox-variable');
        $fallback: map.get($preset, 'fallback');
        @each $alias in map.get($preset, 'aliases') {
            &[size='#{$alias}'] {
                --icon-size: var(#{$variable}, #{$fallback});
            }
        }
    }
}

@supports (width: attr(size type(<length>))) {
  icon {
    --icon-size: attr(size type(<length>), 1em);
  }
}
