.rovalra-game-card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 100%;
    max-width: 150px;
    height: 240px;

    .game-card-link {
        display: flex;
        flex-direction: column;
        height: 100%;
        text-decoration: none;
        color: var(--rovalra-main-text-color);
        position: relative;
        padding: 0;

        &.game-tile-styles {
            display: flex;
        }
    }

    .game-card-thumb-container {
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        background-color: var(--rovalra-container-background-color);
        border-radius: 8px;
        overflow: hidden;

        .game-card-thumb,
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .thumbnail-2d-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .game-card-name {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.2;
        margin-bottom: 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        color: var(--rovalra-main-text-color);
        height: 38px;
    }

    .game-card-info {
        display: flex;
        align-items: center;
        font-size: 12px;
        color: var(--rovalra-secondary-text-color);
        gap: 4px;
        margin-top: auto !important;
        width: 100%;
        padding: 0;
        transform: none;
    }
}
