.rovalra-item-card { 
    text-align:left; 
            width: 150px !important;
                height: 100%;
}

.rovalra-item-card-link { 
    text-decoration: none; 
    color: inherit; 
}

.rovalra-item-thumb-container { 
    position: relative; 
    background-color: var(--rovalra-button-background-color); 
    border-radius:8px; 
    aspect-ratio: 1 / 1; 
    margin-bottom: 8px; 

}

.rovalra-item-thumb { 
    width: 150px !important; 
    height: 150px !important;
    object-fit:contain; 
    border-radius: 8px; 
}

.rovalra-item-name { 
    font-size:14px; 
    font-weight:500; 
    color: var(--rovalra-main-text-color); 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    word-break: break-word;
    min-height: 2.6em; 
    line-height: 1.3;
}

.rovalra-item-rap { 
    font-size:12px; 
    font-weight:600; 
    color: var(--rovalra-secondary-text-color); 
    display:flex; 
    align-items:center; 
}

.rovalra-item-rap .icon-robux-16x16 { 
    margin-right: 4px; 
    flex-shrink:0; 
}

.rovalra-on-hold-icon-container { 
    position: absolute; 
    top: 4px; 
    left: 4px; 
    z-index: 4; 
    width: 28px; 
    height: 28px; 
    cursor: default; 
}

.rovalra-item-thumb-container .icon-label { 
    position: absolute; 
    bottom: -1px; 
    left: -1px; 
    z-index: 2; 
}

.rovalra-on-hold-icon-container svg { 
    fill: white; 
    width: 100%; 
    height: 100%; 
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.8)); 
}
