.rovalra-subplaces-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 12px;
}

.rovalra-subplace-card {
    justify-self: center;
    width: 150px;
    height: 240px;

    .game-card-link {
        display: flex;
        flex-direction: column;
        height: 100%;
        text-decoration: none;
    }

    .game-card-thumb-container {
        width: 150px;
        height: 150px;
        border-radius: 8px;
        margin-bottom: 5px;
        background-color: var(--rovalra-secondary-text-color);
    }

    .game-card-thumb {
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }

    .game-card-name {
        font-weight: 500;
        font-size: 16px;
        width: 150px;
        color: var(--rovalra-main-text-color);
        white-space: normal;
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    p {
        color: var(--rovalra-main-text-color);
    }

    .root-place-label {
        font-size: 13px;
        color: var(--rovalra-secondary-text-color);
        margin-top: 4px;
    }
}

.rovalra-load-more-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.rovalra-load-more-btn {
    display: none;
    margin-top: 15px;
    width: 100%;
    max-width: 768px;
    background-color: var(--rovalra-container-background-color);
    color: var(--rovalra-main-text-color);
    border: 1px solid var(--sp-btn-border);
}

.rovalra-subplaces-search-wrapper {
    margin-bottom: 16px;
}