.rovalra-region-stats-bar {
    display: inline-flex;
    align-items: center;
    padding: 8px 12px;
    margin: 0 8px 0 0;
    gap: 8px;
    border: none;
    border-radius: 0;

    &.dark { 
        background-color: var(--rovalra-container-background-color);
    }
    &.light { 
        background-color: var(--rovalra-container-background-color);
    }
}
.rovalra-stat-item { 
    display: flex; 
    align-items: center; 
    gap: 6px; 

    .stat-icon { 
        width: 20px; 
        height: 20px;

        &.dark {
            color: var(--rovalra-main-text-color);
        }
        &.light {
            color: var(--rovalra-main-text-color);
        }
    }
    .stat-text { 
        display: flex; 
        align-items: baseline;
        gap: 4px;
    }
    .stat-value { 
        font-size: 14px; 
        font-weight: 600; 
        line-height: 1;

        &.dark {
            color: var(--rovalra-main-text-color);
        }
        &.light {
            color: var(--rovalra-main-text-color);
        }
    }
    .stat-label { 
        font-size: 12px; 
        font-weight: 400; 
        line-height: 1;

        &.dark {
            color: var(--rovalra-main-text-color);
        }
        &.light {
            color: var(--rovalra-main-text-color);
        }
    }
}
.rovalra-stats-loader { 
    text-align: center; 
    width: 100%; 
    color: var(--rovalra-secondary-text-color); 
    font-size: 14px; 
    padding: 10px; 
}
