.rovalra-action-summary-list {
    max-height: 250px;
    overflow-y: auto;
    padding-left: 20px;
    border: 0px solid var(--rovalra-border-color);
    padding: 10px;
    border-radius: 4px;
    list-style-type: disc;
}
.rovalra-action-progress-bar-container {
    width: 100%;
    background-color: var(--rovalra-container-background-color);
    border-radius: 4px;
    margin-top: 15px;
    display: none;
    height: 10px;
}
.rovalra-action-progress-bar {
    width: 0%;
    height: 100%;
    background-color: #28a745;
    border-radius: 4px;
    transition: width 0.3s ease;
}
.rovalra-action-status-text {
    margin-top: 5px;
    font-size: 13px;
    text-align: center;
    color: var(--rovalra-secondary-text-color);
    min-height: 18px;
}
.rovalra-ban-warning {
    background-color: rgba(220, 53, 69, 0.1);
    color: #dc3545;
    padding: 12px;
    border-radius: 6px;
    margin-top: 15px;
    font-size: 14px;
    border: 1px solid rgba(220, 53, 69, 0.3);
}
.rovalra-score-selector-container {
    margin: 20px 0;
    label {
        display: block;
        margin-bottom: 10px;
        font-weight: 500;
    }
}
.rovalra-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: var(--rovalra-container-background-color);
    outline: none;
    opacity: 0.9;
    transition: opacity .2s;
    &:hover {
        opacity: 1;
    }
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #dc3545;
        cursor: pointer;
    }
}
.rovalra-score-impact-text {
    text-align: center;
    font-size: 15px;
    color: var(--rovalra-secondary-text-color);
    margin-top: 10px;
}

.quick-ban-card {
    cursor: pointer;
    user-select: none;
    .avatar-card-container {
        position: relative;
    }
    &.selected .avatar-card-container {
        outline: 2px solid #dc3545;
        box-shadow: 0 0 5px #dc3545;
        border-radius: 3px;
    }
    &.processed {
        opacity: 0.4;
        pointer-events: none;
        transition: opacity 0.5s;
    }
}

.rovalra-loading-more {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    color: var(--rovalra-secondary-text-color);
    font-weight: 500;
    gap: 12px;
    .spinner {
        position: relative;
        width: 24px;
        height: 24px;
    }
}
