html .react-friends-carousel-container:has(.rovalra-friends-second-row-native) {
    min-height: 187px;
    height: auto;
}

html .rovalra-friends-second-row-native .friends-carousel-container {
    padding-left: 0;
    padding-right: 0;
}

html .rovalra-friends-second-row-native .friends-carousel-container > div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    grid-template-rows: repeat(2, auto) repeat(100, 0);
}

html .rovalra-friends-second-row-native .friends-carousel-tile #friend-tile-button {
    width: 100%;
    padding: 0;
}

html .rovalra-friends-second-row-native .friends-carousel-tile .add-friends-icon-container,
html .rovalra-friends-second-row-native .friends-carousel-tile .avatar {
    margin-left: auto;
    margin-right: auto;
}

html .rovalra-friends-second-row-native .friends-carousel-tile .friends-carousel-tile-name {
    width: 100%;
    justify-content: center;
}

html .rovalra-friends-second-row-native .friends-carousel-tile .friends-carousel-display-name {
    max-width: 100%;
    width: auto;
}